<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AXISJ 소개서</title>

	<link rel="shortcut icon" href="http://dev.axisj.com/ui/axisj.ico" type="image/x-icon" />
	<link rel="icon" href="http://dev.axisj.com/ui/axisj.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://dev.axisj.com/ui/AXJ.png" />
	<link rel="apple-touch-icon-precomposed" href="http://dev.axisj.com/ui/AXJ.png" />

    <link rel="stylesheet" type="text/css" href="../plugins/prettify/github.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="../plugins/ax5/css/jellyfish/ax5.min.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.axisj.com/axicon/axicon.min.css">
	
    <script type="text/javascript" src="../plugins/prettify/prettify.js"></script>
    <script type="text/javascript" src="../plugins/ax5/ax5.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://cdn.axisj.com/axisj/ui/arongi/AXJ.min.css" />
	<script type="text/javascript" src="http://cdn.axisj.com/axisj/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.axisj.com/axisj/dist/AXJ.min.js"></script>

</head>
<body>

<div class="app-nav">
	<div class="box-bg"></div>
	<div class="box-content">
		<a href="#" class="logo">AXISJ</a>
		<ul class="menu">
			<li class="vline"></li>
			<li><a href="index.html">소개서</a></li>
			<li class="vline"></li>
			<li><a href="https://www.axisj.com" target="_blank">Website</a></li>
			<li class="vline"></li>
			<li><a href="https://github.com/axisj-com/axisj" target="_blank">Github</a></li>
			<li class="vline"></li>
			<li><a href="https://www.facebook.com/axisj" target="_blank">Facebook</a></li>
			<li class="vline"></li>
		</ul>
	</div>
</div>